.players-table {
    border-collapse: collapse;
    width: 100%;
}

.players-table th,
.players-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.players-table thead {
    background-color: #333;
    color: #e67f7f;
}

.players-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
